# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.gitattributes
*.opensdf
*.suo
*.tlog
*.lastbuildstate
*.log
*.obj
*.idb
*.pdb
*.exe
*.ilk
